before_install:
  - chomod +x gradlew

language: java
jdk:
  - openjdk8

branches: # Travis CI를 어느 브랜치가 푸시될 때 수행할지 지정
  only: # Master 브랜치만 가능
    - master

# Travis CI 서버의 Home
cache: # 의존성을 아래 디렉토리에 캐싱하여 재배포시 중복 의존성은 받지 않음
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

# Master 브랜치에 푸시 되었을때 수행하는 명령어
script: "./gradlew clean build"

# CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - dkdlwmzhs@naver.com
